<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set password</title>
</head>
<body>
  <center>
    <h1>Change password</h1>

    <form action="/set-pass" style="zoom: 1.5;" method="post">
      <input type="password" name="old" placeholder="Current password">
      <br><br>

      <input type="password" name="new1" placeholder="New password">
      <br>
      <input type="password" name="new2" placeholder="Confirm new password">

      <br><br>
      <button type="submit">Change password</button>
    </form>
  </center>
</body>
</html>